<div class="header">
    <div class="left">
        <div class="icon"></div>
        <div class="left-right">
            <p class="left-right-top">
                {{data.title}}
            </p>
            <p class="left-right-bottom">
                {{data.titleEn}}
            </p>
        </div>
    </div>
    <div class="right">
        <!--<div class="photo"><img src="../../asset/img/user.png"></div>-->
        <!--<span class="user-name">{{data.userName}}</span>-->
        <span class="header-user-">
            <i class="iconfont icon-zhanghao-copy"></i>
            <b style="padding:0 5px;">{{data.userName}}</b>
            <i class="iconfont icon-arrow-down"></i>
        </span>
       <!-- <a class="header-user-a" id="J-changed-password" href="javascript:;">修改密码</a>-->
        <a class="header-user-a" id="J-logout" href="javascript:;" style="">退出</a>
    </div>
</div>