#uploadForm{
    position: relative;
    text-align: center;
}
button{
    cursor: pointer;
}
.repeat-file{
    position: absolute;
    height: 38px;
    width: 110px;
    /* older safari/Chrome browsers */
    -webkit-opacity: 0;
    /* Netscape and Older than Firefox 0.9 */
    -moz-opacity: 0;
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
    -khtml-opacity: 0;
    /* IE9 + etc...modern browsers */
    opacity: 0;
    /* IE 4-9 */
    filter:alpha(opacity=0);
    /*This works in IE 8 & 9 too*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /*IE4-IE9*/
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.name {
    margin-bottom: 10px;
}
.name input {
    border:1px solid #e5e5e5;
}
input:-moz-placeholder {
    color: #cccccc;
}
input:-ms-input-placeholder {
    color: #cccccc;
}
input::-webkit-input-placeholder {
    color: #cccccc;
}
.red {
    color:red;
}
.error-msg {
    color:red;
    text-align: center;
    font-size: 13px;
    display: none;
}